<div id="<%= dom_id liste %>">
    <div class="card p-3 mt-2 mb-3">
        <div class="d-flex justify-content-between">
            <h3 class="card-title">
                <%= liste.titre %>
            </h3>
            <%= link_to "Voir la tâche", liste_path(liste), class: "btn btn-primary mt-2 mb-2" %>
        </div>

        <div class="d-flex">
            <%= form_for(liste, remote: true) do |f| %>
                <%= f.check_box :completed, as: :boolean, class: "checkboxOne mx-2 mt-4" %>
                <span style="font-weight:500;font-size:18px;">Compléter ?</span>
                <% if liste.completed? %>
                    <p class="mt-4 mb-2">
                        <%= f.submit "Annuler", disable_with: 'en cours d\'envoi...', class: "btn btn-secondary" %>
                    </p>
                <% else %>
                    <p class="mt-4 mb-2">
                        <%= f.submit "Mettre à jour", disable_with: 'en cours d\'envoi...', class: "btn btn-success" %>
                    </p>
                <% end %>
            <% end %>
        </div>

    </div>
</div>