<div class="text-center mb-4">
  <p>
    <%= link_to "Administration", administration_path %><%= " > #{params[:action].capitalize}" unless params[:action].eql?("index") %>
  </p>
  <div class="btn-group">
    <%= render "administration/utils/link", resource: Article %>
    <%= render "administration/utils/link", resource: Commentaire %>
    <%= render "administration/utils/link", resource: User %>
  </div>
</div>