<div id="<%= dom_id article %>">
    <p>
        <strong>Titre:</strong>
        <%= article.titre %>
    </p>

    <p>
        <% if user_signed_in? %>
            <% like = current_user.likes.find_by(article: article) %>
            <% if like.nil? %>
                <%= button_to raw('<i class="fa-solid fa-thumbs-up fa-xl button_like"></i>'), likes_path, params: { like: { article_id: article.id } }, method: :post %>
            <% else %>
                <%= button_to raw('<i class="fa-solid fa-thumbs-down fa-xl button_unlike"></i>'), like_path(like), method: :delete %>
            <% end %>
        <% end %>
    </p>

    <p>
        <strong>Vues:</strong>
        <%= pluralize(article.views, "vue") %>
    </p>

    <p>
        <strong>Contenu:</strong>
        <%= article.contenu %>
    </p>

</div>
