<%= form_with(model: article) do |form| %>
    <% if article.errors.any? %>
        <div style="color: red">
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
            <% article.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col">
            <div>
                <%= form.label :titre, style: "display: block" %>
                <%= form.text_field :titre %>
            </div>
        </div>

        <div class="col">
            <div>
                <%= form.label :file, style: "display: block" %>
                <%= form.file_field :file %>
            </div>
        </div>

        <div>
            <%= form.label :category, style: "display: block" %>
            <%= form.select :category_id, Category.all.map{|c|[c.nom, c.id]}, prompt: "Selectionnez une Catégorie" %>
            <%#= form.label :category, style: "display: block;" %>
            <%#= form.select :category_id, options_for_select(@categories.collect { |c| [c.nom, c.id] }) %>
        </div>
    </div>

    <div>
        <%= form.label :contenu, style: "display: block" %>
        <%= form.rich_text_area :contenu, class: "form-control" %>
    </div>

    <div>
        <%= form.label :tag, style: "display: block" %>
        <%= form.text_field :tags, value: article.tags.map(&:name).join(", "), class: "form-control" %>
    </div>

    <div>
        <%= form.submit %>
    </div>

<% end %>
