<h1 align="center" class="mt-4 mb-4">Articles</h1>

<div class="container">
    <%= link_to "Retour à l'accueil", root_path, class: "btn btn-sm btn-danger mt-4 mb-4" %>
    <%#== raw pagy_nav(@pagy) %>
    <%#== pagy_nav(@pagy) %>
    <div class="d-flex justify-content-between">
        <div>
            <%== pagy_bootstrap_nav(@pagy) %>
        </div>
        <div>
            <%= link_to_unless_current "page 1", articles_path(page: 1) %> -
            <%= link_to_unless_current "page 5", articles_path(page: 5) %>
        </div>
    </div>


    <div id="articles">
        <div class="row align-items-start">
            <% @articles.each do |article| %>
                <div class="col-12 col-md-6 col-lg-6 mt-6 mb-6 ms-md-auto">
                    <%= render article %>
                </div>
            <% end %>
        </div>
    </div>
</div>