<% if current_user %>
    <div class="mt-5">
        <div class="row">
            <div class="col-12" align="center">
                <div class="card">
                <div class="d-flex justify-content-center">
                    <% if @user.avatar.attached? %>
                        <%= image_tag(@user.avatar, style:"width:150px; height: 150px; border-radius:100%; margin-top:20px;") if @user.avatar.attached? %>
                    <% else %>
                        <%= image_tag(current_user.avatar_url, style:"width:150px; height: 150px; border-radius:100%; margin-top:20px;") %>
                    <% end %>
                </div>
                <h1><%= @user.username %></h1>
                <div class="card-footer">
                    <div class="badge bg-warning text-dark">
                    <%= pluralize(@user.commentaires.size, "Commentaire") %> |
                    </div>
                    <div class="badge bg-secondary badge-light">
                    <%= pluralize(@user.views, "Vue") %>
                    </div> |
                    <div class="badge bg-primary text-light">
                    <%= pluralize(@total_views, "Total Article Vue") %>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
    <hr>

        <div class="card mt-4">
            <%# HEADER CARD %>
            <div class="card-header d-flex justify-content-between mb-4">
                <h2 class="text-muted">Adresse</h2>
                <%# <h2 class="text-muted">Bouton</h2> %>
                <h2><% if @user == current_user %>
                    <%= link_to "Editer mon compte", edit_registration_path(@user), class: "btn btn-sm btn-secondary rounded-9" %>
                <% elsif current_user %>
                    <%= render "users/followers/follow_button", user: @user %>
                <% end %></h2>
                <%# Bouton de nos infos achat en ligne %>

                <h2 class="text-muted">Produits</h2>
            </div>

            <div class="card-text d-flex justify-content-between">
                <ul class="mb-4">
                <li><b>Rue:</b> <%= @user.rue.titleize %></li>
                <li><b>Ville:</b> <%= @user.ville.titleize %></li>
                <li><b>Code Postale:</b> <%= @user.code_postale %></li>
                <li><b>Pays:</b> <%= @user.pays.titleize %></li>
                <li><b>Confirmation le:</b> <%= @user.confirmed_at %></li>
                <li><b>Total de connexion sur le site:</b> <%= @user.sign_in_count.size %></li>
                <li><b>Connexion du jour:</b> <%= @user.current_sign_in_at.to_i %></li>
                <li><b>dernière connexion le:</b> <%= @user.last_sign_in_at.to_i %></li>
                <li><b>courrante ip de connexion:</b> <%= @user.current_sign_in_ip.to_i %></li>
                <li><b>derniere ip connecter:</b> <%= @user.last_sign_in_ip.to_i %></li>
                <li><b>Article:</b> <%= @user.articles.count %></li>
                </ul>
                <ul style="margin: 0 60px 0 0;">
                <li><b>Produit:</b> <%#= current_user.produit.count %></li>
                </ul>
            </div>
        </div>

    <%# FOOTER CARD %>
    <div class="card-footer m-auto d-flex justify-content-between">
        <div>
            Rôle -
            <span class="text-danger text-capitalize" style="font-weight: bold;">
            <%= @user.role %>
            </span>
        </div>
        <div>
            <%= render "users/followers/follower_count", user: @user %> &nbsp; - &nbsp;
            <%= @user.followees.count %> abonnements
        </div>
        <div>
            Email -
            <span class="text-primary" style="font-weight: bold;">
                <%= @user.email %>
            </span>
        </div>
    </div>

</div>

<% end %>
