<h1 class="peer">Pages#accueil</h1>
<p>Find me in app/views/pages/accueil.html.erb</p>

<p>
    <%= link_to "télécharger", download_path %>
    <%= link_to "Aperçu", preview_path %>
</p>
<p>
    <%= link_to 'boutique', boutique_path %>
    <%= link_to 'about', about_path %>
    <%= link_to 'contact', contact_path %>
</p>