<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Clone2liens</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
        <%= render "parts/assets" %>
    </head>

    <body>

        <header>
            <%= render 'parts/navbar' %>
        </header>

        <main>
            <%= render "parts/alerts" %>

            <div class="row">
                <div class="col-2">
                    <%= render 'parts/sidebar' %>
                </div>
                <div class="col-9" style="margin: 0 60px;">
                    <%= yield %>
                </div>
            </div>
        </main>

    </body>
</html>
