<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Clone2liens</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
        <%= render "parts/assets" %>
    </head>

    <body>

        <header class="col-12">
            <%= render 'parts/navbar' %>
        </header>
        <%= render "parts/alerts" %>


        <article class="col-9 float-end align-items-center mx-5">
            <%= yield %>
        </article>


        <aside class="col-2 float-start">
            <%= render 'parts/sidebar' %>
        </aside>


        <footer class="col-12">
            <%= render 'parts/footer' %>
        </footer>

    </body>
</html>
